<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<title><? if (list) { ?><?= list.title ?><? } ?></title>
	</head>
	<body bgcolor="white">
		<center><h1><? if (list) { ?><?= list.title ?><? } ?></h1></center>
		<center><h4>访问设备为:<? if (list) { ?><?= list.device ?><? } ?></h4></center>
		<hr><center>nxiao/0.1.7</center>
		<script type="text/javascript">
			var sum = 0;
			var sessioninfo = <?- list.session ?>;
			function uphash(){
				sum++;
				window.location.hash = "vid="+sum;
				if(sum<20){
					setTimeout(uphash,500);
				}
			}
			uphash();
		</script>
	</body>
</html>
